@font-face {
    font-family: "Kruti 500";
    src: url("/fonts/Kruti-Dev-500-Regular.ttf") format("ttf"),
}
@font-face{
    font-family: 'Pankaj';
    src: url('/fonts/PankajBold-lrnX.ttf') format('ttf');
}
/*Global Styles
-----------------------------*/
#spinner{
    
}
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
h1 {
    font-size: 3em;
    font-family: 'Pankaj', cursive;
}
h2{
    font-size: 2em;
    font-family: 'Kruti 500', cursive;
}
h3 {
    font-size: 1.5em;
}
p {
    font-family: 'Martel Sans', sans-serif;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
.section {
    padding: 70px 0;
    position: relative;
}
.content-wrap{
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
}

/* Header
-----------------------------*/
header {
    font-family: 'Kruti 500', cursive;
    background: #730404 center/cover url('../images/header.jpg') no-repeat;
    color: #ff7800;
    text-shadow: 4px 1px 2px red;
    text-align: center;
}
header h1{
    margin: 15px 0;
}

/* Navbar
-----------------------------*/
nav{
    background: #ff7800;
}
.nav-link {
    padding: 0;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: center;
    }
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav ul li{
    font-family: 'Pridi', serif;
    font-size: 24px;
    font-weight: 600;
    color: #460c05;
    padding: 10px 25px;
}
nav .content-wrap{
    padding: 0;
}
nav ul li:hover{
    background: #ff4100;
    cursor: pointer;
}
nav a:visited{
    color: rgba(0,0,0,0.9);
}

/* About
-----------------------------*/
.about {
    background: #730404 url('../images/about-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 30px 0;
    font-weight: 500;
}
.about-item{
    text-align: right;
}
.guru {
    float: left;
    margin-right: 20px;
}
.about-item h2, .about-item h3 {
    line-height: 1.5;
    font-family: "Pankaj";
}
.about-item p{
    max-width: 600px;
    font-size: 1.5em;
}
.about-item:last-child {
    padding: 150px 0 0;
    text-align: left;
}
.pandit {
    float: right;
    margin-left: 20px;
}

/* Services
-----------------------------*/
.services {
    background: #730404 url('../images/services.jpg') no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    padding: 30px 0 40px;
    font-weight: 500;
}
.services h1 {
    font-family: 'Pankaj', cursive;
    text-align: center;
}
.service-item > div {
    text-align: center;
    text-shadow: 2px 1px 1px red;
}
.service-item > div > img {
    -webkit-box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
}
.service-item {
    margin: 10px 0 0;
}
.service-item h3 {
    margin-top: 1.4rem;
}
.service-design {
    text-align: center;
    margin: 1.5rem 0;
}

/* Contact
-----------------------------*/
.contact {
    background: #730404 url('../images/contact-bg.jpg') no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    font-weight: 500;
}
.contact h1 {
    font-family: 'Kruti 500', cursive;
    text-align: center; 
}
.contact h3 {
    font-family: 'Pankaj', cursive;
    margin: auto;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}
.contact-inner {
    padding-top: 2rem;
}
.contact-inner img {
    -webkit-box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 7px rgba(0,0,0,0.75);
}
.contact-form {
    background: #ff7800;
    padding: 2rem 1rem;
    color: #270101;
}
/* Footer
-----------------------------*/
footer {
    background: #270101;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width:750px) {
    .header{
        font-size: 27px;
    }
    .about-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .about-item:last-child{    
        flex-direction: row-reverse;
    }
    .service-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3em;
        padding: 80px 0 0;
    }
    .service-item>div{    
        max-width: 390px;
    }
    .contact-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width:749px) {
    .header{
        font-size: 22px;
    }
    .about{
        font-size: 1rem;
    }
    .about-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    .about-item:last-child{
        padding: 20px 0 0;
        flex-direction: column;
        text-align: center;
    }
    .about img{
        padding: 2rem;
    }
    .service-item{
        padding: 20px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .service-item>div{    
        max-width: 250px;
    }
    .services h1 {
        margin-bottom: 30px;
    }
    .service-item img {
        width: 200px;
    }
    .service-item>div>h3{
        font-size: 1rem;
    }
    .contact-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}